flask
neo4j-driver
python-igraph
PyMySQL
dijkstar
pytest
geopy
cryptography
Flask-HTTPAuth

requests
utm
numpy
scipy
matplotlib

dash
dash_bootstrap_components

pytest
pytest-cov
coverage